.deactivate-button{
    color: white !important;
    background-color: green !important;
}

.active-button{
    color:white !important;
    background-color: red !important;
}

.select-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Select-userlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}