.SideBar{
    height: 100vh;
}

.App{
    display: flex;
    width: 100%;
    height: 110vh;
    background-color: #ffede3 ;
    
}

.NavigationBar{
    padding: 1px;
    border-radius: 3px;
    position: fixed;
    width: 100% !important;
}

.components {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}